# Dependências do Node.js
# Essencial para qualquer projeto Node
node_modules/

# Pasta de build de produção
# O conteúdo desta pasta é gerado, nunca editado diretamente
dist/
dist-ssr/

# Arquivos de log
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Arquivos de variáveis de ambiente
# Contêm chaves e segredos, nunca devem ir para o repositório
.env
.env.local
*.local

# Arquivos de cache e configuração do Firebase
# A SOLUÇÃO DEFINITIVA PARA O SEU PROBLEMA
.firebase/
firebase-debug.log

# Arquivos de Sistema e Editor
# Ignora arquivos específicos de cada sistema operacional ou editor
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?